version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: trip-mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - trip-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: trip-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      MONGO_URI: mongodb://mongo:dOzzFUnEnSjHCWCSyIUASNPTMWVslzSo@switchyard.proxy.rlwy.net:51529
      JWT_SECRET: ${JWT_SECRET}
      PORT: 5000
    depends_on:
      - mongodb
    networks:
      - trip-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: trip-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: http://localhost:5000
    depends_on:
      - backend
    networks:
      - trip-network

volumes:
  mongodb_data:

networks:
  trip-network:
    driver: bridge
